USE [RkShoesDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/29/2024 9:27:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 3/29/2024 9:27:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[BrandId] [int] NOT NULL,
	[BrandName] [nvarchar](50) NOT NULL,
	[BrandLogo] [nvarchar](500) NOT NULL,
	[IsAvailable] [bit] NOT NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 3/29/2024 9:27:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[ProId] [nvarchar](10) NOT NULL,
	[ProName] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Size] [int] NOT NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/29/2024 9:27:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CateId] [int] NOT NULL,
	[CateName] [nvarchar](50) NOT NULL,
	[KeyWord] [nvarchar](10) NOT NULL,
	[IsAvailable] [bit] NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 3/29/2024 9:27:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[UserName] [nvarchar](250) NOT NULL,
	[Password] [nvarchar](250) NOT NULL,
	[FullName] [nvarchar](500) NOT NULL,
	[PhoneNumber] [nvarchar](11) NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryAddress]    Script Date: 3/29/2024 9:27:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryAddress](
	[Id] [int] NOT NULL,
	[UserName] [nvarchar](250) NOT NULL,
	[Fullname] [nvarchar](500) NOT NULL,
	[PhoneNumber] [nvarchar](11) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[SpecificAddress] [nvarchar](500) NOT NULL,
	[isDefault] [bit] NOT NULL,
 CONSTRAINT [PK_DeliveryAddress] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorite]    Script Date: 3/29/2024 9:27:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorite](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](250) NOT NULL,
	[ProId] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Favorite] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportProduct]    Script Date: 3/29/2024 9:27:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportProduct](
	[RecieptId] [int] NOT NULL,
	[DateImport] [datetime2](7) NOT NULL,
	[PersonChange] [nvarchar](50) NOT NULL,
	[Payment] [float] NOT NULL,
 CONSTRAINT [PK_ImportProduct] PRIMARY KEY CLUSTERED 
(
	[RecieptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manager]    Script Date: 3/29/2024 9:27:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager](
	[ManagerId] [int] NOT NULL,
	[UserName] [nvarchar](250) NOT NULL,
	[Password] [nvarchar](250) NOT NULL,
	[Fullname] [nvarchar](500) NOT NULL,
	[PhoneNumber] [nvarchar](11) NOT NULL,
	[SSN] [nvarchar](11) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_Manager] PRIMARY KEY CLUSTERED 
(
	[ManagerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 3/29/2024 9:27:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [nvarchar](10) NOT NULL,
	[ManagerId] [int] NOT NULL,
	[UserName] [nvarchar](250) NOT NULL,
	[TotalPrice] [float] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NULL,
	[OrderDes] [nvarchar](500) NULL,
	[Status] [int] NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[PhoneNumber] [nvarchar](11) NOT NULL,
	[FullName] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 3/29/2024 9:27:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [nvarchar](10) NOT NULL,
	[ProId] [nvarchar](10) NOT NULL,
	[UserName] [nvarchar](250) NOT NULL,
	[ProName] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Size] [int] NOT NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 3/29/2024 9:27:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProId] [nvarchar](10) NOT NULL,
	[BrandId] [int] NOT NULL,
	[CateId] [int] NOT NULL,
	[Origin] [nvarchar](50) NOT NULL,
	[ProName] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Discount] [float] NOT NULL,
	[RatingAverage] [real] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 3/29/2024 9:27:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProId] [nvarchar](10) NOT NULL,
	[ProImg] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_ProductImage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSize]    Script Date: 3/29/2024 9:27:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSize](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProId] [nvarchar](10) NOT NULL,
	[Size] [int] NOT NULL,
 CONSTRAINT [PK_ProductSize] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReceiptProduct]    Script Date: 3/29/2024 9:27:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceiptProduct](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RecieptId] [int] NOT NULL,
	[ProId] [nvarchar](10) NOT NULL,
	[ProName] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_ReceiptProduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 3/29/2024 9:27:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[ReviewId] [int] NOT NULL,
	[ProId] [nvarchar](10) NOT NULL,
	[UserName] [nvarchar](250) NOT NULL,
	[Content] [nvarchar](500) NOT NULL,
	[Rating] [int] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[img1] [nvarchar](500) NULL,
	[img2] [nvarchar](500) NULL,
	[img3] [nvarchar](500) NULL,
 CONSTRAINT [PK_Review] PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240325034620_RkShoesDb', N'8.0.1')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240325071631_RkShoesDb', N'8.0.1')
GO
INSERT [dbo].[Brand] ([BrandId], [BrandName], [BrandLogo], [IsAvailable]) VALUES (1, N'Vans', N'\source_img\brand_logo\1_Logo.png', 1)
INSERT [dbo].[Brand] ([BrandId], [BrandName], [BrandLogo], [IsAvailable]) VALUES (2, N'Converse', N'\source_img\brand_logo\2_Logo.png', 1)
INSERT [dbo].[Brand] ([BrandId], [BrandName], [BrandLogo], [IsAvailable]) VALUES (3, N'Buzz', N'\source_img\brand_logo\3_Logo.jpg', 1)
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([CartId], [UserName], [ProId], [ProName], [Quantity], [Price], [Size]) VALUES (57, N'cleny30', N'SD001', N'Buzz Y-Strap Gray', 1, 18, 22)
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
INSERT [dbo].[Category] ([CateId], [CateName], [KeyWord], [IsAvailable]) VALUES (1, N'Sneaker', N'SN', 1)
INSERT [dbo].[Category] ([CateId], [CateName], [KeyWord], [IsAvailable]) VALUES (2, N'Sandal', N'SD', 1)
GO
INSERT [dbo].[Customer] ([UserName], [Password], [FullName], [PhoneNumber], [Email]) VALUES (N'cleny30', N'edec286acfd2bc5293e72664a0ed0b9f', N'cleny', N'0939105511', N'kushirotm@gmail.com')
INSERT [dbo].[Customer] ([UserName], [Password], [FullName], [PhoneNumber], [Email]) VALUES (N'hoang', N'1', N'hoang', N'0939105555', N'hoang@Fpt.edu')
GO
INSERT [dbo].[DeliveryAddress] ([Id], [UserName], [Fullname], [PhoneNumber], [Address], [SpecificAddress], [isDefault]) VALUES (1, N'cleny30', N'Nguyen Chi Hau', N'0123456789', N'Tỉnh Bình Dương, Thành phố Thuận An, Phường Bình Hòa', N'11/12, đường 3/2', 1)
INSERT [dbo].[DeliveryAddress] ([Id], [UserName], [Fullname], [PhoneNumber], [Address], [SpecificAddress], [isDefault]) VALUES (2, N'cleny30', N'Nguyen Anh Khoi', N'0123456789', N'Tỉnh Bắc Kạn, Huyện Chợ Đồn, Xã Nghĩa Tá', N'đacxcxz', 0)
GO
SET IDENTITY_INSERT [dbo].[Favorite] ON 

INSERT [dbo].[Favorite] ([Id], [UserName], [ProId]) VALUES (1, N'cleny30', N'SD001')
INSERT [dbo].[Favorite] ([Id], [UserName], [ProId]) VALUES (2, N'cleny30', N'SD002')
SET IDENTITY_INSERT [dbo].[Favorite] OFF
GO
INSERT [dbo].[Order] ([OrderId], [ManagerId], [UserName], [TotalPrice], [StartDate], [EndDate], [OrderDes], [Status], [Address], [PhoneNumber], [FullName]) VALUES (N'OD001', 0, N'cleny30', 41.75, CAST(N'2024-03-25T16:08:45.8727409' AS DateTime2), NULL, NULL, 1, N'Cai Rang, Can Tho', N'0123456789', N'Nguyen Chi Hau')
INSERT [dbo].[Order] ([OrderId], [ManagerId], [UserName], [TotalPrice], [StartDate], [EndDate], [OrderDes], [Status], [Address], [PhoneNumber], [FullName]) VALUES (N'OD002', 0, N'cleny30', 18, CAST(N'2024-03-27T09:11:48.6876126' AS DateTime2), NULL, NULL, 1, N'Cai Rang, Can Tho', N'0123456789', N'Nguyen Chi Hau')
INSERT [dbo].[Order] ([OrderId], [ManagerId], [UserName], [TotalPrice], [StartDate], [EndDate], [OrderDes], [Status], [Address], [PhoneNumber], [FullName]) VALUES (N'OD003', 0, N'cleny30', 18, CAST(N'2024-03-27T09:13:29.4508592' AS DateTime2), NULL, NULL, 1, N'Can Tho', N'0111222333', N'Nguyen Quoc Hoang')
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([Id], [OrderId], [ProId], [UserName], [ProName], [Quantity], [Price], [Size]) VALUES (32, N'OD001', N'SD001', N'cleny30', N'Buzz Y-Strap Gray', 1, 18, 22)
INSERT [dbo].[OrderDetail] ([Id], [OrderId], [ProId], [UserName], [ProName], [Quantity], [Price], [Size]) VALUES (33, N'OD001', N'SD002', N'cleny30', N'Buzz Clog White', 1, 23.75, 22)
INSERT [dbo].[OrderDetail] ([Id], [OrderId], [ProId], [UserName], [ProName], [Quantity], [Price], [Size]) VALUES (34, N'OD002', N'SD001', N'cleny30', N'Buzz Y-Strap Gray', 1, 18, 22)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
INSERT [dbo].[Product] ([ProId], [BrandId], [CateId], [Origin], [ProName], [Quantity], [Price], [Description], [Discount], [RatingAverage], [IsAvailable]) VALUES (N'SD001', 3, 2, N'Vietnam', N'Buzz Y-Strap Gray', 4, 20, N'A new color scheme of the Basic Collection of the Y-Strap line was launched, inheriting the outstanding advantages of previous products.Bright colors are refined in tones suitable for all skin types. This new color combination is also extremely suitable for occasions like going out or going on picnics because of its color. ', 10, 0, 1)
INSERT [dbo].[Product] ([ProId], [BrandId], [CateId], [Origin], [ProName], [Quantity], [Price], [Description], [Discount], [RatingAverage], [IsAvailable]) VALUES (N'SD002', 3, 2, N'Vietnam', N'Buzz Clog White', 16, 25, N'This is a line of family slippers made of EVA material. CLOG (FAMILITY) is suitable for all family members to use for rainy days, beach days, days out or even fun activities together all day outdoors. Clog pair with SNEAKER BUZZ logo made on delicate detachable buttons.', 5, 0, 1)
GO
SET IDENTITY_INSERT [dbo].[ProductImage] ON 

INSERT [dbo].[ProductImage] ([Id], [ProId], [ProImg]) VALUES (1, N'SD001', N'\source_img\product_img\Sandal\SD001_1.png')
INSERT [dbo].[ProductImage] ([Id], [ProId], [ProImg]) VALUES (2, N'SD001', N'\source_img\product_img\Sandal\SD001_2.png')
INSERT [dbo].[ProductImage] ([Id], [ProId], [ProImg]) VALUES (3, N'SD001', N'\source_img\product_img\Sandal\SD001_3.png')
SET IDENTITY_INSERT [dbo].[ProductImage] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductSize] ON 

INSERT [dbo].[ProductSize] ([Id], [ProId], [Size]) VALUES (1, N'SD001', 22)
INSERT [dbo].[ProductSize] ([Id], [ProId], [Size]) VALUES (2, N'SD001', 20)
INSERT [dbo].[ProductSize] ([Id], [ProId], [Size]) VALUES (3, N'SD002', 21)
SET IDENTITY_INSERT [dbo].[ProductSize] OFF
GO
INSERT [dbo].[Review] ([ReviewId], [ProId], [UserName], [Content], [Rating], [Date], [img1], [img2], [img3]) VALUES (1, N'SD001', N'cleny30', N'nbdbvc', 5, CAST(N'2024-03-25T11:41:22.4909733' AS DateTime2), N'Reviews/SN002_4_owek16', NULL, NULL)
GO
/****** Object:  Trigger [dbo].[SetDefaultAddress]    Script Date: 3/29/2024 9:27:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[SetDefaultAddress]
ON [dbo].[DeliveryAddress]
AFTER INSERT
AS
BEGIN
    DECLARE @UserName NVARCHAR(250)
    DECLARE @AddressCount INT

    SELECT @UserName = UserName
    FROM inserted

    SELECT @AddressCount = COUNT(*)
    FROM [dbo].[DeliveryAddress]
    WHERE UserName = @UserName

    IF @AddressCount = 1
    BEGIN
        UPDATE [dbo].[DeliveryAddress]
        SET isDefault = 1
        FROM inserted
        WHERE [dbo].[DeliveryAddress].Id = inserted.Id
    END
END
GO
ALTER TABLE [dbo].[DeliveryAddress] ENABLE TRIGGER [SetDefaultAddress]
GO
/****** Object:  Trigger [dbo].[UpdateDefaultAddress]    Script Date: 3/29/2024 9:27:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[UpdateDefaultAddress]
ON [dbo].[DeliveryAddress]
AFTER INSERT
AS
BEGIN
    DECLARE @UserName NVARCHAR(250)
    DECLARE @IsDefault BIT

    SELECT @UserName = UserName, @IsDefault = isDefault
    FROM inserted

    IF @IsDefault = 1
    BEGIN
        UPDATE [dbo].[DeliveryAddress]
        SET isDefault = 0
        WHERE UserName = @UserName
          AND Id <> (SELECT Id FROM inserted)
    END
END
GO
ALTER TABLE [dbo].[DeliveryAddress] ENABLE TRIGGER [UpdateDefaultAddress]
GO
